footer {
    width: 100%;
    background-color: rgb(33,37,41);
    height: 30px;
    color: white;
    text-align: center;
}

.pageTitle {
    padding: 20px;
    text-align: center;
    margin-left: 5px;
}

label {
    font-weight: bold;
    padding-top: 10px;
}

.btn {
    padding: 10px;
    margin-top: 10px;
}

/* To center the button we need to put it inside the div */
.button {
    text-align: center;
}

/* Push content to the center */
.container-1 {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
}

.table {
    width: 60%;
    margin-left: 5px;
    margin-bottom: 30px;
}

.borderValue {
    border: 1px solid black;
}

.tableRow {
    border: 1px solid black;
    width: 60%;
}

.borderName {
    width: 15%;
}

.edit {
    margin-left: 10px;
    font-weight: bold;
    color: green;
}