footer {
    width: 100%;
    background-color: rgb(33,37,41);
    height: 30px;
    color: white;
    text-align: center;
}

.pageTitle {
    padding: 20px;
    text-align: center;
    margin-left: 5px;
}

label {
    font-weight: bold;
    padding-top: 10px;
}

.btn {
    padding: 10px;
    margin-top: 10px;
}

/* To center the button we need to put it inside the div */
.button {
    text-align: center;
}

/* Push content to the center */
.container-1 {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
}

.table {
    width: 60%;
    margin-left: 5px;
    margin-bottom: 30px;
}

/* Two "r' because class "border" is already taken by bootstrap */
.borderr {
    border: 1px solid black;
}

.borderName {
    width: 16%;
}
.edit {
    margin-left: 5px;
    font-weight: bold;
    color: green;
}

/* A little better look */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.form-2 {
    width: 100%;
}

.notes-1 {
    display: flex;
    border: 1px solid black;
    width: 60%;
    word-wrap: break-word;
    flex-wrap: nowrap;
}
.notes-2 {
    background-color: #F8F8F8;
    width: 16%;
}
.notes-3 {
    margin-left: auto;
}

.notes-4 {
    width: fit-content;
    word-wrap: break-word;
}