footer {
    width: 100%;
    background-color: rgb(33,37,41);
    height: 30px;
    color: white;
    text-align: center;
}

.pageTitle {
    padding: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    padding-top: 10px;
}

.btn {
    padding: 10px;
    margin-top: 10px;
}

/* To center the button we need to put it inside the div */
.button {
    text-align: center;
}

/* Push content to the center */
.container-1 {
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
}

.container-2 {
    display: inline-table;
    flex-direction: column;
}

.table-1 {
    display: flex;
}

.borderTitle {
    display: flex;
    width: 50%;
    border: 1px solid black;
}