{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block main %}
    <h1 class="pageTitle">Welcome to Task Manager App!</h1>
    <hr>
    <div class="container-1">
    <form action="/edit_task" method="GET">
        <table>
            <tr>Current task</tr>
            <tr>
                <td>Task name</td>
                <td>Comment</td>
                <td>Who delivered it</td>
                <td>Deadline</td>
            </tr>
        </table>
        <div class="button">
        <button>EDIT</button>
        </div>
    </form>
    </div>
{% endblock %}