{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1 class="pageTitle"> Log to your account. </h1>
<form action="/login" method="post">
    <label>Username: </label>
    <div class="form-group">
      <input autocomplete="off" type="text" class="form-control" placeholder="Username" name="username" autofocus required>
    </div>
    <label>Password:  </label>
    <div class="form-group">
      <input autocomplete="off" type="password" class="form-control" placeholder="Password" name="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
  </form>
{% endblock %}