{% extends "layout.html" %}

{% block title %}
Create new task
{% endblock %}

{% block main %}
<h1 class="pageTitle">Create new task!</h1>
<hr>
<div class="container-1">
    <form action="/new_task" method="post" class="form">
        <label>Task for: </label>
        <div class="form-group">
            <select id="task_for" name="task_for">
                <option value="{{ user_id }}">Me</option>

                <!-- // Checking for subordinates and supervisors -->
                {% for row in rows %}
                {% for relation in relations %}
                {% if row[0] == relation[1] and user_id == relation[2] %}
                <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                {% elif row[0] == relation[1] and user_id == relation[3] %}
                <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </select>
        </div>
        <label>Task name: </label>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="Deliver pizza" name="heading"
                autofocus required>
        </div>
        <label>Task description: </label>
        <div class="form-group">
            <!-- Textarea to make the comment section adjustable to input size -->
            <textarea placeholder="Italian pizza to Kaunas, laisves aleja 25" class="form-control" type="text"
                name="description" style="height: 200px;" required></textarea>
        </div>
        <label>Deadline: </label>
        <div class="form-group">
            <input type="date" id="theDate" name="deadline" min='1899-01-01' required>
        </div>
        <input type="time" min="08:00" max="18:00">
        <div class="button">
            <button class="btn btn-primary" type="submit">Create Task</button>
        </div>
    </form>
</div>
{% endblock %}