{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block main %}
    <h1 class="pageTitle">Create new task!</h1>
    <hr>
    <div class="container-1">
    <form action="/new_task" method="post" class="form">
        <label>Task for: </label>
        <div class="form-group">
            <select id="task_for">
                <option value="me">Me</option>
                <option value="manager">Manager</option>
                <option value="assistant">Assistant</option>
                <option value="designer">Designer</option>
            </select>
        </div>
        <label>Task name: </label>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="Deliver pizza" name="task_name"
                autofocus required>
        </div>
        <label>Comment: </label>
        <div class="form-group">
            <!-- <input autocomplete="off" type="text" class="form-control"
                placeholder="Italian pizza to Kaunas, laisves aleja 25" name="comment"> -->
        <textarea placeholder="Italian pizza to Kaunas, laisves aleja 25" class="textarea" type="text" name="comment"></textarea>
        </div>
        <label>Deadline: </label>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="2020-02-20" name="deadline">
        </div>
        <div class="button">
        <button class="btn btn-primary" type="submit">DELIVER</button>
        </div>
    </form>
    </div>
{% endblock %}