{% extends "layout.html" %}

{% block title %}
Registration Form
{% endblock %}

{% block main %}
<h1 class="pageTitle"> Please fill registration form below. </h1>
<hr>
<div class="container-1">
<form action="/register" method="post">
  <label>Username: </label>
  <div class="form-group">
    <input autocomplete="off" type="text" class="form-control" placeholder="Redbeard" name="username" autofocus
      required>
  </div>
  <label>Your position: </label>
  <div class="form-group">
    <input autocomplete="off" type="text" class="form-control" placeholder="Captains assistant" name="position"
      required>
  </div>
  <label>Your company: </label>
  <div class="form-group">
    <input autocomplete="off" type="text" class="form-control" placeholder="UAB Pirates" name="company" required>
  </div>
  <label>Password: </label>
  <div class="form-group">
    <input autocomplete="off" type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
  <label>Reapet your password: </label>
  <div class="form-group">
    <input autocomplete="off" type="password" class="form-control" placeholder="Repeat your password" name="password2"
      required>
  </div>
  <div class="button">
  <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>
</div>
{% endblock %}