{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block main %}
<h1 class="pageTitle">{{ rows[0][4] }} relations.</h1>
<hr>
<div class="container-1">
    <center>
        <div>
            <form class="border" action="/relations" method="POST">
                <h3>Assign subordinate for supervisor</h3>
                <label>Supervisor</label>
                <select name="new_supervisor">
                    {% if rows is not none %}
                    {% for row in rows %}
                    <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <label>Subordinate</label>
                <select name="new_subordinate">
                    {% if rows is not none %}
                    {% for row in rows %}
                    <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <button type="submit">ASSIGN</button>
            </form>
        </div>
        <div>
            <form class="border" action="/unassign" method="POST">
                <h3>Unassign supervisor for subordinate</h3>
                <label>Supervisor</label>
                <select name="selected_supervisors_id">
                    {% if rows is not none %}
                    {% for row in rows %}
                    <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <label>Subordinate</label>
                <select name="selected_subordinates_id">
                    {% if rows is not none %}
                    {% for row in rows %}
                    <option value="{{ row[0] }}">{{ row[1] }} : {{ row[3] }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <button type="submit">UNASSIGN</button>
            </form>
        </div>
        <table class="border">
            <h3>Companies empoyees list</h3>
            <tr>
                <td>Username</td>
                <td>Position</td>
                <td>Supervisor</td>
                <td>Subordinates</td>
            </tr>
            {% if joined_rows is not none %}
            {% for row2 in rows %}
            <tr class="border">
                <td class="border">
                    {{ row2[1] }}
                </td>
                <td class="border">
                    {{ row2[3] }}
                </td>
                <td class="border">
                    {% for joined_row in joined_rows %}
                    {% if row2[0] == joined_row[0] %}
                    {% for row3 in rows %}
                    {% if joined_row[4] == row3[0] %}
                    {{ row3[1] }}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </td>
                <td class="border">
                    {% for joined_row in joined_rows %}
                    {% if row2[0] == joined_row[0] %}
                    {% for row3 in rows %}
                    {% if joined_row[5] == row3[0] %}
                    {{ row3[1] }}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </center>
</div>
{% endblock %}