{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block main %}
<center>
    <form action="/relations" method="post">
        <label>Set supervisor: </label>
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="Captain Jack Sparrow"
                name="supervisor" autofocus required>
        </div>
        <button class="btn btn-primary" type="submit">DELIVER</button>
    </form>
</center>
{% endblock %}