{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block main %}
<h1 class="pageTitle">Tasks History</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-executor-tab" data-bs-toggle="tab" data-bs-target="#nav-executor" type="button" role="tab" aria-controls="nav-executor" aria-selected="true">Assigned to you | Active</button>
      <button class="nav-link" id="nav-creator-tab" data-bs-toggle="tab" data-bs-target="#nav-creator" type="button" role="tab" aria-controls="nav-creator" aria-selected="false">Assigned by you | Active</button>
      <button class="nav-link" id="nav-yourTasks-tab" data-bs-toggle="tab" data-bs-target="#nav-yourTasks" type="button" role="tab" aria-controls="nav-yourTasks" aria-selected="false">Your tasks | Active</button>
      <button class="nav-link" id="nav-executorF-tab" data-bs-toggle="tab" data-bs-target="#nav-executorF" type="button" role="tab" aria-controls="nav-executorF" aria-selected="false">Assigned to you | Finished</button>
      <button class="nav-link" id="nav-creatorF-tab" data-bs-toggle="tab" data-bs-target="#nav-creatorF" type="button" role="tab" aria-controls="nav-creatorF" aria-selected="false">Assigned by you | Finished</button>
      <button class="nav-link" id="nav-yourTasksF-tab" data-bs-toggle="tab" data-bs-target="#nav-yourTasksF" type="button" role="tab" aria-controls="nav-yourTasksF" aria-selected="false">Your tasks | Finished</button>
      <button class="nav-link" id="nav-executorC-tab" data-bs-toggle="tab" data-bs-target="#nav-executorC" type="button" role="tab" aria-controls="nav-executorC" aria-selected="false">Assigned to you | Canceled</button>
      <button class="nav-link" id="nav-creatorC-tab" data-bs-toggle="tab" data-bs-target="#nav-creatorC" type="button" role="tab" aria-controls="nav-creatorC" aria-selected="false">Assigned by you | Canceled</button>
      <button class="nav-link" id="nav-yourTasksC-tab" data-bs-toggle="tab" data-bs-target="#nav-yourTasksC" type="button" role="tab" aria-controls="nav-yourTasksC" aria-selected="false">Your tasks | Canceled</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

      <!-- TASKS ASSGNED TO YOU | STILL ACTIVE -->
    <div class="tab-pane fade show active" id="nav-executor" role="tabpanel" aria-labelledby="nav-executor-tab">
        {% for row in executor %}
        {% if row[1] != row[2] and row[7] == 0 %}
<div class="container-2" style="margin-top: 20px;">
    <form action="/" method="POST">
        <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
        <table class="table">
            <tr class="borderr">
                <th scope="col" class="borderName">Creation date</th>
                <td class="borderr">{{ row[5] }}</td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Task ID</th>
                <td class="borderr">{{ row[0] }} </td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Creator name</th>
                <td class="borderr">
                    {% for user in users %}
                    {% if user[0] == row[1] %}
                    {{ user[1] }}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Executor name</th>
                <td class="borderr">
                    {% for user in users %}
                    {% if user[0] == row[2] %}
                    {{ user[1] }}
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                <td class="borderr">{{ row[3] }}</td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Description</th>
                <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Deadline</th>
                <td class="borderr">{{ row[6] }}</td>
            </tr>
            <tr class="borderr">
                <th scope="col" class="borderName">Status</th>
                <td class="borderr">In Progress</td>
            </tr>
        </table>
        <hr>
    </form>
</div>
{% endif %}
{% endfor %}
    </div>

    <!-- TASKS ASSIGNED BY YOU | STILL ACTIVE -->
    <div class="tab-pane fade" id="nav-creator" role="tabpanel" aria-labelledby="nav-creator-tab">
        {% for row in creator %}
        {% if row[1] != row[2] and row[7] == 0 %}
    <div class="container-2" style="margin-top: 20px;">
        <form action="/" method="POST">
            <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
            <table class="table">
                <tr class="borderr">
                    <th scope="col" class="borderName">Task ID</th>
                    <td class="borderr">{{ row[0] }} </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Creation date</th>
                    <td class="borderr">{{ row[5] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Creator name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[1] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Executor name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[2] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName" style="white-space: pre-wrap;">Heading</th>
                    <td class="borderr">{{ row[3] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Description</th>
                    <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Deadline</th>
                    <td class="borderr">{{ row[6] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Status</th>
                    <td class="borderr">In Progress</td>
                </tr>
            </table>
            <hr>
        </form>
    </div>
    {% endif %}
    {% endfor %}
    </div>

        <!-- TASKS ASSIGNED TO YOURSELF | STILL ACTIVE -->
    <div class="tab-pane fade" id="nav-yourTasks" role="tabpanel" aria-labelledby="nav-yourTasks-tab">
        {% for row in creator %}
        {% if row[1] == row[2] and row[7] == 0 %}
    <div class="container-2" style="margin-top: 20px;">
        <form action="/" method="POST">
            <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
            <table class="table">
                <tr class="borderr">
                    <th scope="col" class="borderName">Task ID</th>
                    <td class="borderr">{{ row[0] }} </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Creation date</th>
                    <td class="borderr">{{ row[5] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Creator name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[1] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Executor name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[2] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                    <td class="borderr">{{ row[3] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Description</th>
                    <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Deadline</th>
                    <td class="borderr">{{ row[6] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Status</th>
                    <td class="borderr">In Progress</td>
                </tr>
            </table>
            <hr>
        </form>
    </div>
    {% endif %}
    {% endfor %}
    </div>

          <!-- TASKS ASSGNED TO YOU | FINISHED -->
          <div class="tab-pane fade show active" id="nav-executorF" role="tabpanel" aria-labelledby="nav-executorF-tab">
            {% for row in executor %}
            {% if row[1] != row[2] and row[7] == 1 %}
    <div class="container-2" style="margin-top: 20px;">
        <form action="/" method="POST">
            <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
            <table class="table">
                <tr class="borderr">
                    <th scope="col" class="borderName">Creation date</th>
                    <td class="borderr">{{ row[5] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Task ID</th>
                    <td class="borderr">{{ row[0] }} </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Creator name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[1] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Executor name</th>
                    <td class="borderr">
                        {% for user in users %}
                        {% if user[0] == row[2] %}
                        {{ user[1] }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                    <td class="borderr">{{ row[3] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Description</th>
                    <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Deadline</th>
                    <td class="borderr">{{ row[6] }}</td>
                </tr>
                <tr class="borderr">
                    <th scope="col" class="borderName">Status</th>
                    <td class="borderr">Finished</td>
                </tr>
            </table>
            <hr>
        </form>
    </div>
    {% endif %}
    {% endfor %}
        </div>

        <!-- TASKS ASSIGNED BY YOU | FINISHED -->
        <div class="tab-pane fade" id="nav-creatorF" role="tabpanel" aria-labelledby="nav-creatorF-tab">
            {% for row in creator %}
            {% if row[1] != row[2] and row[7] == 1 %}
        <div class="container-2" style="margin-top: 20px;">
            <form action="/" method="POST">
                <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
                <table class="table">
                    <tr class="borderr">
                        <th scope="col" class="borderName">Task ID</th>
                        <td class="borderr">{{ row[0] }} </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Creation date</th>
                        <td class="borderr">{{ row[5] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Creator name</th>
                        <td class="borderr">
                            {% for user in users %}
                            {% if user[0] == row[1] %}
                            {{ user[1] }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Executor name</th>
                        <td class="borderr">
                            {% for user in users %}
                            {% if user[0] == row[2] %}
                            {{ user[1] }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName" style="white-space: pre-wrap;">Heading</th>
                        <td class="borderr">{{ row[3] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Description</th>
                        <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Deadline</th>
                        <td class="borderr">{{ row[6] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Status</th>
                        <td class="borderr">Finished</td>
                    </tr>
                </table>
                <hr>
            </form>
        </div>
        {% endif %}
        {% endfor %}
        </div>

            <!-- TASKS ASSIGNED TO YOURSELF | FINISHED -->
        <div class="tab-pane fade" id="nav-yourTasksF" role="tabpanel" aria-labelledby="nav-yourTasksF-tab">
            {% for row in creator %}
            {% if row[1] == row[2] and row[7] == 1 %}
        <div class="container-2" style="margin-top: 20px;">
            <form action="/" method="POST">
                <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
                <table class="table">
                    <tr class="borderr">
                        <th scope="col" class="borderName">Task ID</th>
                        <td class="borderr">{{ row[0] }} </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Creation date</th>
                        <td class="borderr">{{ row[5] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Creator name</th>
                        <td class="borderr">
                            {% for user in users %}
                            {% if user[0] == row[1] %}
                            {{ user[1] }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Executor name</th>
                        <td class="borderr">
                            {% for user in users %}
                            {% if user[0] == row[2] %}
                            {{ user[1] }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                        <td class="borderr">{{ row[3] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Description</th>
                        <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Deadline</th>
                        <td class="borderr">{{ row[6] }}</td>
                    </tr>
                    <tr class="borderr">
                        <th scope="col" class="borderName">Status</th>
                        <td class="borderr">Finished</td>
                    </tr>
                </table>
                <hr>
            </form>
        </div>
        {% endif %}
        {% endfor %}
        </div>

                  <!-- TASKS ASSGNED TO YOU | CANCELED -->
                  <div class="tab-pane fade show active" id="nav-executorC" role="tabpanel" aria-labelledby="nav-executorC-tab">
                    {% for row in executor %}
                    {% if row[1] != row[2] and row[7] == 2 %}
            <div class="container-2" style="margin-top: 20px;">
                <form action="/" method="POST">
                    <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
                    <table class="table">
                        <tr class="borderr">
                            <th scope="col" class="borderName">Creation date</th>
                            <td class="borderr">{{ row[5] }}</td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Task ID</th>
                            <td class="borderr">{{ row[0] }} </td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Creator name</th>
                            <td class="borderr">
                                {% for user in users %}
                                {% if user[0] == row[1] %}
                                {{ user[1] }}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Executor name</th>
                            <td class="borderr">
                                {% for user in users %}
                                {% if user[0] == row[2] %}
                                {{ user[1] }}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                            <td class="borderr">{{ row[3] }}</td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Description</th>
                            <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Deadline</th>
                            <td class="borderr">{{ row[6] }}</td>
                        </tr>
                        <tr class="borderr">
                            <th scope="col" class="borderName">Status</th>
                            <td class="borderr">Canceled</td>
                        </tr>
                    </table>
                    <hr>
                </form>
            </div>
            {% endif %}
            {% endfor %}
                </div>
        
                <!-- TASKS ASSIGNED BY YOU | CANCELED -->
                <div class="tab-pane fade" id="nav-creatorC" role="tabpanel" aria-labelledby="nav-creatorC-tab">
                    {% for row in creator %}
                    {% if row[1] != row[2] and row[7] == 2 %}
                <div class="container-2" style="margin-top: 20px;">
                    <form action="/" method="POST">
                        <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
                        <table class="table">
                            <tr class="borderr">
                                <th scope="col" class="borderName">Task ID</th>
                                <td class="borderr">{{ row[0] }} </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Creation date</th>
                                <td class="borderr">{{ row[5] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Creator name</th>
                                <td class="borderr">
                                    {% for user in users %}
                                    {% if user[0] == row[1] %}
                                    {{ user[1] }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Executor name</th>
                                <td class="borderr">
                                    {% for user in users %}
                                    {% if user[0] == row[2] %}
                                    {{ user[1] }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName" style="white-space: pre-wrap;">Heading</th>
                                <td class="borderr">{{ row[3] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Description</th>
                                <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Deadline</th>
                                <td class="borderr">{{ row[6] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Status</th>
                                <td class="borderr">Finished</td>
                            </tr>
                        </table>
                        <hr>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
                </div>
        
                    <!-- TASKS ASSIGNED TO YOURSELF | CANCELED -->
                <div class="tab-pane fade" id="nav-yourTasksC" role="tabpanel" aria-labelledby="nav-yourTasksC-tab">
                    {% for row in creator %}
                    {% if row[1] == row[2] and row[7] == 2 %}
                <div class="container-2" style="margin-top: 20px;">
                    <form action="/" method="POST">
                        <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
                        <table class="table">
                            <tr class="borderr">
                                <th scope="col" class="borderName">Task ID</th>
                                <td class="borderr">{{ row[0] }} </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Creation date</th>
                                <td class="borderr">{{ row[5] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Creator name</th>
                                <td class="borderr">
                                    {% for user in users %}
                                    {% if user[0] == row[1] %}
                                    {{ user[1] }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Executor name</th>
                                <td class="borderr">
                                    {% for user in users %}
                                    {% if user[0] == row[2] %}
                                    {{ user[1] }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName" tyle="white-space: pre-wrap;">Heading</th>
                                <td class="borderr">{{ row[3] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Description</th>
                                <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Deadline</th>
                                <td class="borderr">{{ row[6] }}</td>
                            </tr>
                            <tr class="borderr">
                                <th scope="col" class="borderName">Status</th>
                                <td class="borderr">Canceled</td>
                            </tr>
                        </table>
                        <hr>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
                </div>

  </div>
{% endblock %}