{% extends "layout.html" %}

{% block title %}
All tasks
{% endblock %}

{% block main %}
<h1 class="pageTitle">Tasks History.</h1>
<hr>
{% for row in rows %}

<div class="container-2">
    <form action="/" method="POST">
        <button type="submit" name="task_id" value="{{ row[0] }}" class="edit">&#9997; View task</button>
    </form>
    <table class="table">
        <tr class="borderr">
            <th scope="col" class="borderName">Creation date:</th>
            <td class="borderr">{{ row[5] }}</td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Creator name:</th>
            <td class="borderr">
                {% for user in users %}
                {% if user[0] == row[1] %}
                {{ user[1] }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Executor name</th>
            <td class="borderr">
                {% for user in users %}
                {% if user[0] == row[2] %}
                {{ user[1] }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Heading</th>
            <td class="borderr">{{ row[3] }}</td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Description</th>
            <td class="borderr" style="white-space: pre-wrap;">{{ row[4] }}</td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Deadline</th>
            <td class="borderr">{{ row[6] }}</td>
        </tr>
        <tr class="borderr">
            <th scope="col" class="borderName">Status</th>
            <td class="borderr">
                {% if row[7] == 0 %}
                In progress
                {% elif row[7] == 1 %}
                Finished
                {% else %}
                Canceled
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock %}